<form id="register">
    <label for="named">Your Name:</label>
    <input type="text" id="named" placeholder="Enter your name" />
    <button type="submit">Register</button>
</form>

<div>
    <label for="recipient">Recipient's Name:</label>
    <input type="text" id="recipient" placeholder="Recipient's name" />
</div>

<div>
    <input id="field" placeholder="Type your message..."/>
    <button id="send">Send</button>
</div>

<div id="content"></div>



    <script src="/socket.io/socket.io.min.js"></script>

    <script src="script.js"></script>